[class*=-page-container] {
    padding-top: 60px;
}

[class*=-page-container]>.center>.card {
    background-color: var(--color-backgorund-main);
}

[class*=-page-container]>.center>.card .card-title {
    text-align: center;
}

[class*=-page-container] .card .tags-box,
[class*=-page-container] .card .cate-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

[class*=-page-container] .card .tag-item,
[class*=-page-container] .card .cate-item {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 6px;
    background-color: var(--color-text-background);
    border: 1px solid var(--color-border);
    font-size: 1.2rem;
}

[class*=-page-container] .card .tag-item:hover,
[class*=-page-container] .card .cate-item:hover {
    color: var(--color-avtive-text);
    background-color: var(--color-active);
    transform: translateY(-5px);
}

#nprogress .bar {
    background: var(--color-active) !important;
}