@import './base.css';
@import '../iconfont/index.css';
@import './dark.css';
@import './light.css';
#app {
  height: 100%;
}
.center {
  max-width: 1280px !important;
  margin: 0 auto;
}

@media screen and (max-width: 374px){
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 375px) and (max-width: 750px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 751px) and (max-width: 1080px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1081px) and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1281px) {
  html {
    font-size: 16px;
  }
}